/* Palette
#555169 - light grey - sidebar bg;
#191724 - black - primary bg
#F09EB5 - soft pink - text, buttons
#f6c177 - soft gold - alternate text, alternate buttons
#9ccfd8 - pale tuqoise - contrasting button
#26233a - softer black - button text
*/

html, body {
    margin:0;
    padding:0;
    height: 100%;
}

h1, h2, p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    text-align: center;
}

body {
    display: flex;
    background-color: #191724;
    grid-row: 100%;
    
}

.sidebar {
    /*  */
    background-color: #555169;
    color: #F09EB5;
    padding: 5px;
    margin: 0%;
    width: 20%;
    
}

.main_area {
    color: #F09EB5;
    padding: 5px;
    width: 80%;
}



.upper_buttons {
    display: flex;
    justify-content: space-between;
}

/* .lower_buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }

.item4 {
    grid-column-start: 4;
    background-color: #2196F3;
    margin-right: 0%;
} */

.lower_buttons {
    display: flex;
    align-items:unset;
    justify-content: flex-end;
    width: 100%;
}


header li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

header ul {
    text-align: right;
}

button {
    background-color:#F09EB5;
    color: #26233a;
    min-width: 110px;
    /* width: 30%; */
    text-align: center;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
}




