/* Palette
##26233A - light grey - aside bg, textbox bg
#191724 - black - primary bg
#F09EB5 - soft pink - text, buttons, textbox border
#f6c177 - soft gold - alternate text, alternate buttons
#9ccfd8 - pale tuqoise - contrasting button
#26233a - softer black - button text
*/

/* general */
html, body {
    margin:0;
    padding:0;
    height: 100%;
    background-color: #191724; /*bg color moved here from separate body selector*/
    font-family: 'Montserrat', sans-serif;
}



h1, h2 {
    text-align: center;
}

aside {/*sidebar renamed to aside*/
    /*  */
    background-color: #26233A;
    color: #F09EB5;
    padding: 5px;
    margin: 0%;
    
    
}

.main_area {
    color: #F09EB5;
    padding: 5px;
    width: 100%; /*width adjusted to make page look right on smaller screens*/
}


/* Header */
header li {
    display: inline;
    padding: 5px;
}

header ul {
    text-align: right;
}

/* Main content (see buttons at bottom)*/

.upper_buttons{
    display: flex;
    justify-content: space-between;
}

.note_area {
    margin: 10px;
    margin-right: 25px;
}

textarea {
    width: 100%;
    padding: 5px;
    line-height: 1.5;
    border-radius: 5px;
    border: 3px solid #F09EB5;
    background-color: #26233A;
    color: #F09EB5;
    resize: none;
}

.lower_buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


/* Footer */
.main_area footer {
    bottom: 0;
    width: inherit;
}

.foot_images {
    display: flex;
    justify-content: center;
}

/* Buttons */

/*Redundant content in button class selectors moved to button element selector*/

button {
    color: #26233a;
    min-width: fit-content;
    text-align: center;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
}

.standard_button {
    background-color:#F09EB5;
}

.neg_button {
    background-color:#9ccfd8;
}

.other_button {
    background-color:#f6c177;
}


/* Responsive */


@media screen and (min-width: 600px) {
    body {
        display: flex;
        flex-direction: row-reverse;
    }

    aside { /*sidebar renamed to aside*/
        width: 20%;
    }

    .main_area footer {
    position: fixed;
    width: 80%; /*width adjusted to make page look right on smaller screens*/
    }
}


